<header class="header">
    <nav class="navbar navbar-inverse <!--navbar-fixed-top-->" id="headernav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="javascript:void(0)">华广校园活动组队平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">            
            <ul class="nav navbar-nav navbar-right">
                <li class="index"><a href="http://localhost/activity/index.php/Admin/index/index.html">审核活动</a></li>
                <li class="has_check"><a href="http://localhost/activity/index.php/Admin/index/has_check.html" >已审核的活动</a></li>
                <li class="stu_manage"><a href="http://localhost/activity/index.php/Admin/index/stu_manage.html" >学生管理</a></li>
                <li class="grade_manage"><a href="http://localhost/activity/index.php/Admin/index/grade_manage.html" >年级管理</a></li>
                <li><a href="#" id="exit">退出</a></li>
            </ul>
        </div>
    </div>
    </nav>
</header>